{% extends "base.html" %}

{% block body %}

<div id="main">
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>ACCOUNTING FINANCE</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Accounting_Finance'][0]['image']}}"  alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['Accounting_Finance'][0]['link']}}">{{job_ads_dict['Accounting_Finance'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['Accounting_Finance'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Accounting_Finance'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['Accounting_Finance'][1]['link']}}">
								{{job_ads_dict['Accounting_Finance'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['Accounting_Finance'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>ENGINEERING</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Engineering'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['Engineering'][0]['link']}}">{{job_ads_dict['Engineering'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['Engineering'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Engineering'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['Engineering'][1]['link']}}">
								{{job_ads_dict['Engineering'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['Engineering'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>HEALTHCARE NURSING</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Healthcare_Nursing'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['Healthcare_Nursing'][0]['link']}}">{{job_ads_dict['Healthcare_Nursing'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['Healthcare_Nursing'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Healthcare_Nursing'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['Healthcare_Nursing'][1]['link']}}">
								{{job_ads_dict['Healthcare_Nursing'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['Healthcare_Nursing'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>HOSPITALITY CATERING</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Hospitality_Catering'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['Hospitality_Catering'][0]['link']}}">{{job_ads_dict['Hospitality_Catering'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['Hospitality_Catering'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Hospitality_Catering'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['Hospitality_Catering'][1]['link']}}">
								{{job_ads_dict['Hospitality_Catering'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['Hospitality_Catering'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>IT</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['IT'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['IT'][0]['link']}}">{{job_ads_dict['IT'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['IT'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['IT'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['IT'][1]['link']}}">
								{{job_ads_dict['IT'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['IT'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>PR ADVERTISING MARKETING</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['PR_Advertising_Marketing'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['PR_Advertising_Marketing'][0]['link']}}">{{job_ads_dict['PR_Advertising_Marketing'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['PR_Advertising_Marketing'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['PR_Advertising_Marketing'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['PR_Advertising_Marketing'][1]['link']}}">
								{{job_ads_dict['PR_Advertising_Marketing'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['PR_Advertising_Marketing'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>SALES</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Sales'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['Sales'][0]['link']}}">{{job_ads_dict['Sales'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['Sales'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Sales'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['Sales'][1]['link']}}">
								{{job_ads_dict['Sales'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['Sales'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="box" style='height: auto'>
			<h2><span>TEACHING</span></h2>
			<div class="cl">&nbsp;</div>
			<div class="posts">
				<div class="post">
					<div class="image" id="img-1">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Teaching'][0]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-1"
								href="{{job_ads_dict['Teaching'][0]['link']}}">{{job_ads_dict['Teaching'][0]['title']}}</a>
						</h4>
						<p id="data-embed-1">
							{{job_ads_dict['Teaching'][0]['content']}}
						</p>
					</div>
				</div>
				<div class="post last">
					<div class="image" id="img-2">
						<img style='height: 100px; width: 100%; object-fit: contain'
							src="static/images/{{job_ads_dict['Teaching'][1]['image']}}" alt="No Image Provided"/>
					</div>
					<div class="data">
						<h4><a id="link-2" href="{{job_ads_dict['Teaching'][1]['link']}}">
								{{job_ads_dict['Teaching'][1]['title']}}
							</a></h4>
						<p id="data-embed-2">
							{{job_ads_dict['Teaching'][1]['content']}}
						</p>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}