{% extends "base.html" %}

{% block body %}
<div id="main" style="height: auto;">
    <div id="content" style="height: auto;background-color: white;">
        <div class="box" style='height: auto'>
            <h1 style="padding-top:33px;padding-left:339px">Seating Layout</h1>
            <form method="POST" action="/admin/seats" enctype = "multipart/form-data">
                <p style="padding-left: 631px; font-size: medium;">
                    Select file to update user details:
                    <input id="files" name="file" type="file" value="Update User Seat History"
                        style="color: black;width: 250px; cursor: pointer;padding-top: 5px;" />
                </p>
                {% for div in range(4) %}
                <div class="seat">
                    <h2>Bay {{div + 1}}</h2>
                    {% for input in range(10) %}
                    {% if "{}{}".format(div+1, input+1) in seats_allocated %}
                    <input type="checkbox" value="{{div+1}}{{input+1}}" name="{{div+1}}{{input+1}}" checked>
                     <img src="/static/images/images.png" height="50px"></img>
                    {% else %}
                    <input type="checkbox" value="{{div+1}}{{input+1}}" name="{{div+1}}{{input+1}}">
                     <img src="/static/images/images.png" height="50px"></img>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                <p style="padding-left: 367px;padding-bottom: 10px;">
					<input type="submit" value="Overwrite" style="color: black;width: 100px; cursor: pointer;"/>
				</p>
                {% if error %}
                <p style="font-size: 16px; padding-top: 9px;color:green;padding-left: 281px;"> {{ message }} </p>
                {% else %}
                <p style="font-size: 16px; padding-top: 9px;color:red;padding-left: 351px;"> {{ message }} </p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}